@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

body{
    font-family: 'Racing Sans One', cursive;
    background-color: #954535;
    color: white;
    /* display:inline-flex;
    align-items: center; */
}

div{
    margin: 3px;
}
.container{
    display: grid;
    
    
}

.player-hand {
    display: flex;
    border: 2px solid black;
    width: 50vw;
}


.player-card {
    width: 5em;
    height: 7em;
    /* display: flex;
    flex-direction: row;
    align-items: flex; */
    border: 2px solid black;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.drawn-card {
    width: 5em;
    height: 7em;
    /* display: flex;
    flex-direction: column;
    align-items: flex; */
    border: 2px solid black;
    font-size: 20px;
    margin: 20px;
    cursor: pointer;
}

.all-card {

    background-color: white;
    text-align: center;
    border-radius: 10%;
    color: black;
}

.all-card:hover {
    background-color: #004225;
    color: white
}

.all-card:active {
    background-color: lightgreen;
}

.score-counter {
    border: 2px solid black;
    width: 20vw;
}

.turnCount {
    border: 2px solid black;
    width: 20vw;
}

.w3-container{
    /* display: flex; */
    /* flex-direction: row; */
}

.battle-pile {
    border: 2px solid black;
    width: 20vw;
}

.selected-card{
    border: 2px solid black;
    width: 20vw;
}

button{
    font-family: 'Racing Sans One', cursive;
    width: 10em;
    height: 3em;
    display: block;
}

.playButton {
    background-color: lightgreen;
    margin: 3px;
}

.playButton:hover {
    background-color: #004225;
    color: white
    ;
}

.playButton:active {
    background-color: white;
    color: #004225
}
.discardButton {
    background-color: lightgoldenrodyellow;
    margin: 3px;
}

.discardButton:hover {
    background-color: darkorange;
    color: white
    ;
}

.discardButton:active {
    background-color: white;
    color: darkorange
    ;
}
.game-log{
    grid-column-start: 1;
}
p {
    font-size: 20px;
}

li {
    font-size: 18px;
}

a {
    font-size: 1.2em;
    color: aquamarine;
}